/* Medidas generales */
* {
    padding: 0;
    margin: 0;  
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
    text-decoration: none;
}

/* Fondo */
body {
    min-height: 100vh;
    background: linear-gradient(to right, darkblue, teal);
}

/* Header diseño */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: transparent;
    padding: 35px 12%;
    z-index: 100;
}

.header a {
    color: antiquewhite;
    text-decoration: none;
}

.navbar {
    display: flex;
}

.navbar .pagina {
    margin-left: 50px;
    transition: all .55s ease;
}

.pagina:hover {
    color: purple;
}

#menu-icon {
    color: antiquewhite;
    font-size: 30px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

/* Diseño de formulario */
section {
    padding: 10% 40%;
}

form {
    padding: 20px;
    box-shadow: 0 0 10px antiquewhite;
    border-radius: 20px;
    text-align: center;
    max-width: 500px;
    width: 100%;
    background-color: transparent;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

h2 {
    color: antiquewhite;
    font-size: 35px;
}

label {
    color: antiquewhite;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}

input, textarea {
    padding: 10px 20px;
    border-radius: 15px;
    margin-bottom: 10px;
    background-color: antiquewhite;
    border: 2px solid antiquewhite;
    color: darkblue;
    outline: none;
}

input::placeholder, textarea::placeholder {
    color: gray;
}

.form-txt {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.form-txt a {
    color: antiquewhite;
    font-size: 10px;
    font-weight: 600;
}

.btn {
    font-size: 20px;
    color: antiquewhite;
    border: 0;
    border-radius: 20px;
    background-color: darkblue;
    box-shadow: 0 0 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: teal;
}

/* Icons diseño */
.icons {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.icons a {
    color: antiquewhite;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
}

@media (max-width: 1024px) {
    .header {
        display: flex;
        padding: 50px 5%;
    }
    section {
        display: flex;
        align-items: center;
        padding: 10% 25%;
    }
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        padding: 50px 5%;
    }

    .navbar {
        display: none;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
    }

    .navbar.active {
        display: flex;
    }

    .navbar .pagina {
        margin-left: 10px;
        margin-bottom: 10px;
    }

    #menu-icon {
        display: block;
    }

    form {
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .header {
        flex-direction: column;
    }

    .navbar {
        display: none;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
    }

    .navbar.active {
        display: flex;
    }

    .navbar .pagina {
        margin-left: 10px;
        margin-bottom: 0;
    }

    #menu-icon {
        display: block;
    }

    section {
        padding: 5% 5%;
    }
}